body{
    font-family: 'Lora', serif;;
}
.container{
    height: 450px;
    width: 850px;
    margin-top: 10px;
    border: 2px solid #3A1C71;
    border-radius: 25px;
    position: relative;
}
.father2{
    height: 96%;
    width: 35%;
    border-radius: 25px;
    position: absolute;
    top: 2%;
    background-color: #3A1C71;
}
ul{
    list-style: none;
}
li{
    color: white;
}
.secFather2{
    height: 96%;
    width: 60%;
    border-radius: 25px;
    position: absolute;
    top: 2%;
    right: 2%;
}
p{
    color: gray;
}
.btn{
    position: absolute;
    bottom: 2%;
    right: 2%;
}